.all-furnitures {
  padding: 80px 0;
  font-family: 'Axiforma';

  h2 {
    font-weight: 700;
  }

  .all-furnitures__list {
    position: relative;
    transform: translateY(0) !important;
    gap: 40px;
  }
}
