.sale-furnitures {
  padding: 80px 0;
  font-family: 'Axiforma';

  h2 {
    font-weight: 700;
  }
}

@media screen and (max-width: 600px) {
  .sale-furnitures {
    padding: 60px 0 90px;

    h2 {
      text-align: center;
    }
  }
}
