.furnitures {
  padding: 80px 0;
  font-family: 'Axiforma';

  h2 {
    font-weight: 700;
  }

  &__products {
    li:nth-child(1) {
      div {
        img {
          width: 150px;
        }
      }
    }

    li {
      width: 100%;
      max-width: 300px;
      height: 100%;
      min-height: 485px;
      padding: 20px;
      background-color: #f1f1f1;
      border-radius: 10px;
    }

    div {
      display: grid;
      place-items: center;
      margin-bottom: 20px;
      padding: 10px;
      height: 300px;
      background-color: #fff;
      border-radius: 5px;

      img {
        width: 200px;
        margin: auto;
      }
    }

    h3 {
      font-weight: 700;
    }

    p {
      margin: 10px 0;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: #5f6061;
    }

    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 600px) {
  .furnitures {
    padding: 60px 0 90px;

    h2 {
      text-align: center;
    }

    li {
      min-height: 400px;
      div {
        height: 250px;
      }
    }
  }
}
